{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
  <h1 style="text-align: center">Task Master</h1>
  {% if tasks|length < 1 %}
  <h4 style="text-align: center">There are no tasks. Create one below!</h4>
  {% else %}
  <table>
    <tr>
      <th>Sr#</th>
      <th>Task</th>
      <th>Added</th>
      <th>Actions</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td>{{ task.id }}</td>
      <td>{{ task.content }}</td>
      <td>{{ task.date_created.date() }}</td>
      <td>
        <form action="/delete/{{task.id}}" method="POST">
          <input type="submit" name="submit" id="submit" value="Delete" />
        </form>
        <form action="/update/{{task.id}}" method="GET">
          <input type="submit" name="submit" id="submit" value="Update" />
        </form>
        <!-- <a href="/update/{{task.id}}">Update</a> -->
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  <form action="/" method="post">
    <input type="text" name="content" id="content" />
    <input type="submit" name="submit" id="submit" value="Add Task" />
  </form>
</div>
{% endblock %}